<p-toast></p-toast>
<div class="col-12">
<div class="grid">
    <div class="col-6">
        <div class="card p-fluid">
            <h5>Tindakan</h5>
            <p-dropdown [options]="dropdownTindakan" optionLabel="name" [(ngModel)]="selectedTindakan" placeholder="Pilih tindakan"></p-dropdown>
        </div>
    </div>
    <div class="col-12">
        <div class="card p-fluid">
        <p-table [value]="Pemeriksaan" [lazy]="true" (onLazyLoad)="loadCustomers($event)" [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Pemeriksaan</th>
            <th>Harga</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pemeriksaan [(ngModel)]="selectedPemeriksaan">
        <tr>
            <td>
                <p-checkbox value="asd" id="ch"></p-checkbox>
                <label for="ch">{{checked}}</label>
            </td>
            <td>{{pemeriksaan.pemeriksaan}}</td>
            <td>{{pemeriksaan.harga}}</td>
        </tr>
    </ng-template>
</p-table>
    </div>
    </div>
</div>
    <div class="field">
        <button pButton label="submit" [style]="{width:'10em'}" (click)="showDialog()"></button>
        <p-dialog [(visible)]="displayModal" [modal]="true" [style]="{width:'50vw'}">
            <p-table [value]="Pemeriksaan" [tableStyle]="{'min-width': '45rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="text-align: center;">Tindakan</th>
                        <th style="text-align: center;">Harga</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pemeriksaan>
                    <tr>
                        <td>{{pemeriksaan.selectedPemeriksaan}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <button pButton (click)="displayModal=false" label="Benar" ></button>
        </p-dialog>
    </div>
</div>
