<p-tabView [(activeIndex)]="index">
    <p-tabPanel header="Mapping Pemeriksaan" [disabled]="panel1">
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <div class="card p-fluid">
                <h5>Tindakan</h5>
            <p-dropdown [options]="dropdownTindakan" placeholder="Pilih Tindakan" [(ngModel)]="selectedTindakan" ></p-dropdown>
            </div>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Tambah" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Hapus" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="Pemeriksaan" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['pemeriksaan']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedperiksa" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="field">Mapping</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Kode <p-sortIcon field="code"></p-sortIcon></th>
                        <th pSortableColumn="name">Nama Pemeriksaan <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="price">Harga <p-sortIcon field="price"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-periksa>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="periksa"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">ID</span>
                            {{periksa.id}}
                        </td>
                        <td>{{periksa.pemeriksaan}}</td>
                        <td>{{periksa.harga}}</td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(periksa)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(periksa)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <button pButton label="Preview" class="mt-2" (click)="mapping(periksa)"></button>
        </div>

        <p-dialog [(visible)]="mappingDialog" [style]="{width: '350px'}" header="Mapping" [modal]="true" class="p-fluid">
            <p-table [value]="selectedperiksa">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="text-align: center;">Nama Tindakan</th>
                        <th style="text-align: center;">Nama Pemeriksaan</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tarif>
                    <tr>
                        <td>{{selectedTindakan}}</td>
                        <td>{{tarif.pemeriksaan}}</td>
                    </tr>
                </ng-template>
            </p-table>
            <p-button label="submit" (click)="onSubmit(selectedTindakan,selectedperiksa)"></p-button>
        </p-dialog>

        <p-dialog [(visible)]="periksaDialog" [style]="{width: '450px'}" header="Edit Pemeriksaan" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Pemeriksaan</label>
                    <input type="text" pInputText id="name" [(ngModel)]="periksa.pemeriksaan" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !periksa.pemeriksaan}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !periksa.pemeriksaan">Name is required.</small>
                </div>
                <div class="field col-6">
                    <label for="price">Harga</label>
                    <p-inputNumber id="price" [(ngModel)]="periksa.harga" mode="currency" currency="IDR" locale="en-US"></p-inputNumber>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePeriksaDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="periksa">Yakin mau menghapus ini? <b>{{periksa.pemeriksaan}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deletePeriksaDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePemeriksaanDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
</p-tabPanel>
<p-tabPanel header="Mapping Cabang" [disabled]="panel2">
    <div class="grid">
        <div class="col-12">
            <div class="card p-fluid">
                <h5>Cabang</h5>
                <p-dropdown [options]="dropdownCab" [(ngModel)]="selectedCabang" placeholder="Pilih Cabang"></p-dropdown>
            </div>
            <div class="card p-fluid">
                <p-pickList [source]="selectedperiksa" [target]="targetProducts" sourceHeader="Available Pemeriksaan" targetHeader="Target Pemeriksaan" dragdrop="true"
                [responsive]="true" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}" filterBy="['pemeriksaan']"
                sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name">
                <ng-template let-tarif pTemplate="item">
                    <div class="product-item">
                        <div class="product-list-detail">
                            <h5 class="mb-2">{{tarif.pemeriksaan}}</h5>
                            <span class="product-category"></span>
                        </div>
                     <div class="product-list-action">
                        <h6 class="mb-2">{{tarif.harga}}</h6>
            </div>
        </div>
    </ng-template>
</p-pickList>
            </div>
        </div>
        <p-button icon="pi pi-chevron-left" (click)="reset()" class="mr-2"></p-button>
        <p-button icon="pi pi-chevron-right" class="ml-2" (click)="submit2()" ></p-button>
    </div>
</p-tabPanel>
<p-tabPanel header="Keseluruhan" [disabled]="panel3">
    <div class="grid">
        <div class="col-12">
            <div class="card p-fluid col-6">
                <p>Cabang</p>
                <input pInputText [value]="selectedCabang" />
                <!-- <p>Pemeriksaan</p>
                <input pInputText [value]="selectedCabang" /> -->
            </div>
            <div class="card p-fluid col-6">
                <p>Tindakan</p>
                <input pInputText [value]="selectedTindakan" />
            </div>
            <div class="card">
                <p-table [value]="targetProducts">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="text-align: center;">Pemeriksaan</th>
                            <th style="text-align: center;">Harga</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-tarif>
                        <tr>
                            <td>{{tarif.pemeriksaan}}</td>
                            <td>{{tarif.harga}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <p-button icon="pi pi-arrow-left" class="ml-2" (click)="reset()"></p-button>
    </div>
</p-tabPanel>
</p-tabView>